body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    justify-content: center;
    
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 400px;
    padding: 300px;
    margin: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

h1,
p,


h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  padding:10px 0;
  text-align: center;
  background: #33cccc;
  color: white;
  position: fixed;
 
}

.btn-bgstroke {
    font-size: 25px;
    display: inline-block;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px; 
    margin-right: 10px;
  }
  
  .btn-bgstroke:hover {
    background-color: white;
    color: #33cccc;
  }

  .hidden {
    display: none;
  }
  
